@import './../GLOBALS-STYLES/colors';
@import './../GLOBALS-STYLES/font.scss';
@import './../GLOBALS-STYLES/_config.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: $menuFont;
    

    // HEADER STYLE:
    header {
        background-color: $menuColor;
        .navigation {
            width: 90%;
            margin: 0 auto;
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        ul {
            width: 50%;
            display: flex;
            justify-content: space-between;
            list-style: none;
            li {
                font-size: 1.25rem;
                letter-spacing: 1.1px;
                color: $navColor;
                transition: all 0.5s ease;
                a {
                    font-size: 1.25rem;
                    letter-spacing: 1.1px;
                }
                &:hover {
                    color: $hoverNavColor;
                    cursor: pointer;
                }
            }
        }
    }
    // STYLE OF MAIN SECTION
    main {
        section {
            #music-cards {
                position: absolute;
                right: 0;
                width: 90%;
                display: flex;
                justify-content: center;
                flex-flow: row wrap;
                .card {
                    position: relative;
                    width: 200px;
                    height: 200px;
                    background-color: pink;
                    margin: 10px auto 10px;
                    
                    .mini_bg {
                        border-radius: 8px;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translate(-50%, 0);
                        width: 150px;
                        height: 150px;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                    .overlay {
                        border-radius: 8px;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translate(-50%, 0);
                        width: 150px;
                        height: 150px;
                        
                        &:hover {
                            // background-image: url('./../../MEDIAS/research-img/playBtn.svg');
                            // background-size: 50px;
                            background-repeat: no-repeat;
                            background-color: rgba(255, 255, 255, 0.4);
                        }
                    }
                    h3 {
                        position: absolute;
                        bottom: 0;
                        // transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}
