@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body header {
  background-color: rgba(242, 201, 76, 0.85);
}

body header .navigation {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header ul {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

body header ul li {
  font-size: 1.25rem;
  letter-spacing: 1.1px;
  color: #F2F4F8;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body header ul li a {
  font-size: 1.25rem;
  letter-spacing: 1.1px;
}

body header ul li:hover {
  color: #5A6A7A;
  cursor: pointer;
}

body main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .container .music-selection {
  width: 20%;
  height: 80vh;
  background-color: #5A6A7A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .container .global_research {
  width: 80%;
}

body main .container .global_research .research {
  height: 10vh;
}

body main .container .global_research .research .input_research {
  border: none;
  width: 80%;
  height: 10vh;
}

body main .container .global_research #music-cards {
  overflow: scroll;
  height: 80vh;
  background-color: #F2F4F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

body main .container .global_research #music-cards .card {
  border-radius: 8px;
  width: 180px;
  height: auto;
  background-color: pink;
  margin: 0 20px 20px 20px;
}

body main .container .global_research #music-cards .card li:first-child#mini_bg {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: center / contain no-repeat;
  width: 180px;
  height: 180px;
  position: relative;
  padding-top: 10px;
}

body main .container .global_research #music-cards .card li:first-child#mini_bg:after {
  content: url(./../../MEDIAS/icon/heart.svg);
  padding: 10px 0 0 10px;
  cursor: pointer;
}

body main .container .global_research #music-cards .card li:first-child#mini_bg:hover:after {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 170px;
  z-index: 0;
  background-color: rgba(242, 201, 76, 0.45);
}

body main .container .global_research #music-cards .card li {
  list-style: none;
  font-size: 0.75rem;
  color: #545a5f;
  font-style: italic;
  line-height: 1.6;
}

body main .container .global_research #music-cards .card li span {
  font-size: 0.875rem;
  color: #5A6A7A;
}
/*# sourceMappingURL=research.css.map */