@import './../GLOBALS-STYLES/colors';
@import './../GLOBALS-STYLES/font.scss';
@import './../GLOBALS-STYLES/_config.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: $menuFont;
    

    // HEADER STYLE:
    header {
        background-color: $menuColor;
        .navigation {
            width: 90%;
            margin: 0 auto;
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        ul {
            width: 50%;
            display: flex;
            justify-content: space-between;
            list-style: none;
            li {
                font-size: 1.25rem;
                letter-spacing: 1.1px;
                color: $navColor;
                transition: all 0.5s ease;
                a {
                    font-size: 1.25rem;
                    letter-spacing: 1.1px;
                }
                &:hover {
                    color: $hoverNavColor;
                    cursor: pointer;
                }
            }
        }
    }
    // STYLE OF MAIN SECTION
    main {
        .container {
            display: flex;
            .music-selection {
                width: 20%;
                height: 80vh;
                background-color: $hoverNavColor;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .global_research {
                width: 80%;
                .research {
                    height: 10vh;
                    .input_research {
                        border: none;
                        width: 80%;
                        height: 10vh;
                    }
                }

                #music-cards {
                    overflow: scroll;
                    height: 80vh;
                    background-color: $navColor;
                    display: flex;
                    justify-content: center;
                    flex-flow: row wrap;
                    .card {
                        border-radius: 8px;
                        width: 180px;
                        height: auto;
                        background-color: pink;
                        margin: 0 20px 20px 20px;

                        li:first-child {
                            @include heart-hover;
                        }
                        li {
                            list-style: none;
                            font-size: 0.75rem;
                            color: #545a5f;
                            font-style: italic;
                            line-height: 1.6;
                            span {
                                font-size: 0.875rem;
                                color: $hoverNavColor;
                            }
                        }
                    }
                }
            }
        }
    }
}
