@import './../GLOBALS-STYLES/colors';
@import './../GLOBALS-STYLES/font.scss';
@import './../GLOBALS-STYLES/config';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

body {
    height: 100vh;
    font-size: 16px;
    font-family: $menuFont;
    @include background;

    // HEADER STYLE:
    header {
        background-color: $menuColor;
        .navigation {
            width: 90%;
            margin: 0 auto;
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        ul {
            width: 50%;
            display: flex;
            justify-content: space-between;
            list-style: none;
            li {
                font-size: 1.25rem;
                letter-spacing: 1.1px;
                color: $navColor;
                transition: all 0.5s ease;
                a {
                    font-size: 1.25rem;
                    letter-spacing: 1.1px;
                }
            &:hover {
                color: $hoverNavColor;
                cursor: pointer;
            }
            }
        }
    }

    // STYLE OF THE MAIN SECTION:
    main {
        width: 90%;
        margin-top: 50px;
        display: flex;
        justify-content: flex-end;
        section {
            width: 40%;
            border-radius: 8px;
            padding: 20px 10px;
            background-color: rgba(0, 0, 0, 0.3);
            h1 {
                text-align: center;
                font-size: 1.75rem;
                color: $navColor;
                letter-spacing: 1.2px;
            }
            
        }
    }    
}
