@import './../GLOBALS-STYLES/colors';
@import './../GLOBALS-STYLES/font.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

header {
    background-color: $menuColor;
    .navigation {
        width: 80%;
        margin: 0 auto;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    ul {
        width: 50%;
        display: flex;
        justify-content: space-between;
        font-family: $menuFont;
        list-style: none;
        li {
            font-size: 1.125rem;
            letter-spacing: 1.1px;
            color: #5A6A7A;
            a {
                font-size: 1.125rem;
                letter-spacing: 1.1px;
            }
        }
    }
}